<!DOCTYPE html>
<html> 
<body>
  <center> <h1> Flat Booking System </h1> </center>
<form action="action_page.php" method="post">
  <div class="imgcontainer">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  
  </div>
  
</form> 
  
   <div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Email</label>
    <input type="text" id="lemail" name="emailname" placeholder="Your email..">

    <input type="submit" value="Submit">

  </form>
</div>
<head>
  <title>
    Flat Booking
  </title>
</head>
<body>
  <section class="firstsection">
    <div class="box-main">
      <div class="firstHalf">
    <div class="box-main">
      <div class="secondHalf">
        <h1 class="text-big" id="program">
          Flat Booking System
        </h1>
        <p class="text-small">
          A flat booking system is an online platform that allows users to book apartments or other living spaces. It typically includes a searchable database of available properties, a payment system, and a variety of other features. The system allows users to view detailed listings of properties, including pictures, amenities, prices, and more. It also allows users to book and pay for their desired accommodation directly from the system.
        </p>
      </div>
    </div>
      </div>
    </div>
  </section
   </div> 
{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Service</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Service</h6>
        </div>
    </div>
    <!-- P

</body>  
</html>
